# Non-config files
.cache
.java
.gsutil
.gnupg
.npm
.mozilla/firefox
.pki
.rustup
.ssh
.local
.config/Bitwarden
.config/BraveSoftware
.config/JetBrains
.config/spotify
Downloads
GitRepos
powerlevel10k
